* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
}

:root {
    --background: #fdfffa;
    --green-50: #93bf50;
    --green-75: #678c30;
    --green-100: #34590e;
    --green-150: #304018;
    --black: #0D0D0D;
}


body {
    background-color: var(--background);
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8rem auto;
}

.header img {
    width: 350px;
}

.header {
    padding-inline: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link {
    border-left: 2px solid rgba(0, 0, 0, 0.411);
    padding-inline: 10px;
}

.link a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 3.5rem;
    padding: 1rem;
    margin: .5rem;
    background-color: var(--green-50);
    border-radius: 5px;
    border: 2px solid var(--green-75);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.233);
    gap: 10px;
    transition: all 500ms ease;
}

.link a:hover {
    background-color: var(--green-75);
    
}

.link p {
    color: #fff;
    font-weight: bolder;
}

.link img {
    width: 50px;
}

@media screen and (max-width: 767px) {

    .container {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    .header img {
        width: 350px;
    }

    .links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .link {
        border: none;
    }

    .link a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        height: 3.5rem;
        padding: 1rem;
        margin: .5rem;
        background-color: var(--green-50);
        border-radius: 5px;
        border: 2px solid var(--green-75);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.233);
        gap: 10px;
    }

    .link p {
        color: #fff;
        font-weight: bolder;
    }

    .link img {
        width: 50px;
    }

}
